body {
    overflow: hidden;
    margin: 0 auto;
    background-color: #000;
}

#maincontainer {
    padding: 0;
}

#scroll {
    position: fixed;
    top: 50%;
    right: 30px;
    z-index: 10;
}

.scroll_item {
    border: 3px solid #FFF;
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 50%;
    transition: all 500ms;
    cursor: pointer;
}

.scroll_item:hover {
    background: #FFF;
}

.scroll_item_active {
    border: 3px solid #FFF;
    width: 25px;
    height: 25px;
    margin: 10px;
    background-color: #FFF;
}

.page {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 800ms;
}

.page .titleTest {
    position: fixed;
    top: 50%;
}

#section1 {
    background-color: #6CB44C;
}

#section2 {
    background-color: #E8F1F8;
}

#section3 {
    background-color: #CED1CB;
}

#section4 {
    background-color: #e0f3ff;
}

#section5 {
    background-color: #101C28;
}