.card-custom-yoshi
{
    background-color: transparent;
    border: transparent;
}

.card-text-custom-yoshi
{
    background-color: #fff;
}

.green-button
{
    background-color: #72ec5f;
}

.pink-button
{
    background-color: #ff8daf;
}

.blue-button
{
    background-color: #54d1e2;
}
