/* titre */
.texte-section3 {
    color: #755139;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 20px;
}

/* card */

.card-custom-yoshi2
{
    background-color: transparent;
    border: transparent;
    text-align: center;
    
}

.card-text2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  font-size: 15px;

}

.card-text2 span {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

/* Button */
.btn-dark{
  color: white;
  background-color: #755139;
  border: none;
  margin: 5px 50px 20px;
  margin-left: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.btn-dark:active
{
    background-color: #D69C2F;
}
.btn-dark:hover
{
    background-color: #FFD662;
}



/* compte a rebours */

#clockdiv{

  font-family: 'Fjalla One', sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
  
}

#clockdiv > div{
  padding: 5px;
  border-radius: 3px;
  color: #DD4132;
  display: inline-block;
}

#clockdiv div > span{
  padding: 10px;
  border-radius: 3px;
  color: #DD4132;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 12px;
}

.smalltexts{
  padding-top: 5px;
  font-size: 12px;
}

#clockdiv p{
color: #DD4132; 
}

/* pop up */

.btn-dark .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.btn-dark .popuptext::after {
  content: "Thank you for your purchase";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.btn-dark .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* media */

@media (max-width: 768px) {
      .card-img-top {
        width: 70%;
      }
    }

.card-month {
  background-color: #755139;
   border-radius: 10px;
   width: 50%;
}

@media (max-width: 768px) {
      .card-month {
        width: 50%;
      }
    }

@media (min-width: 768px) {
      .card-text2 {
        font-size: 18px;
      }
    }

@media (min-width: 768px) {
      .card-custom-yoshi2 {
        display: inline-block;
      }
    }

@media (min-width: 768px) {
      .btn-dark {
        font-size: 18px;
      }
    }

@media (min-width: 768px) {
      #clockdiv {
        font-size: 20px;
      }
    }

@media (min-width: 768px) {
      .smalltext {
        font-size: 18px;
      }
    }


