
#topc {
  text-align: center;
  color: #fff;
}

.imgtop {
  width: 80%;
  padding-top: 40%;
}

.para {
  color: white;
  padding-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

#section5 iframe {
  justify-content: : center;

}


@media (max-width: 991px) {
  .imgtop{
    width: 80%;
    padding-top: 40%;}
  }
