
#topc {
  text-align: center;
  color: #fff;
}

.imgtop {
  width: 80%;
  padding-top: 40%;
}

#para {
  color: white;
  padding-top: 5%;
  font-size: 2rem;
  padding-left: 5%;
}

#tweeter {
    text-align:center;
}
#Social {
  justify-content: space-around;
  padding-top: 2%;

}

@media (max-width: 991px) {
  .imgtop{
    width: 80%;
    padding-top: 40%;}
  }
