/* SECTION 4 // 
// Amiibo pres Tutotrial */

#section4 video{
    z-index: 50;
    display: block;  
    height: 50%;
    margin: 5% auto;
}

#section4Canvas {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    filter: blur(50px);opacity: 0.5;
    transition: all 800ms;
}