.section1 h1 {
    position: absolute;
    font-size: calc(2em + 2vw);
    color: #B33618;
    text-align: center;
    top: 0;
}

.section1_title {}

.section1_images {

}

.section1_images img {
    width:100%;
    height: auto;
}



#section1 {
    background-image: url('../assets/images/section1_background2.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.section1_yoshi {
    position: relative;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 1;
}

.section1_amiibo {
    position: relative;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 1;
}

.section1_arrow {
    position: relative;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 1;
}

.section1_background1 {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    max-height: 600px;
    min-height: 50%;
    z-index: 2;
}

.section1 .bottomtext p {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    font-size: calc(1em + 2vw);
    color: #B33618;
    text-align: center;
}

.section1_background1 {
    animation: slide 20s linear infinite;
}

@keyframes section1_background1 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 0;
    }
}

.background-anim {
    -webkit-animation: pulsate-fwd 10s ease-in-out infinite both;
    animation: pulsate-fwd 10s ease-in-out infinite both;
}

.pulsate-fwd {
    -webkit-animation: pulsate-fwd 4s ease-in-out infinite both;
    animation: pulsate-fwd 4s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}