.card-custom-yoshi
{
    background-color: transparent;
    border: transparent;
    width: 75%;
}
.card-custom-yoshi img
{
    width: 100%;
}

.body-custom-yoshi
{
    background-color: #fff;
}

.green-button
{
    background-color: #72ec5f;
}

.pink-button
{
    background-color: #ff8daf;
}

.blue-button
{
    background-color: #54d1e2;
}

.button-buy:active
{
    background-color: #ff8f5f;
}
.button-buy:hover
{
    background-color: #ff8f5f;
}
.button-buy
{
    background-color: #f7530d;
    border: none;
}

.button-custom
{
    border:none;
}
.button-custom:focus
{
    border:solid 2px grey;
}
.button-custom:active
{
    border:solid 2px grey;
}
#active
{
    border:solid 2px grey;
}
.moustache:before
{
    content:url('assets/images/moustache.png');
}
